beautifulsoup4==4.14.2
bs4==0.0.2
certifi==2025.8.3
dotenv==0.9.9
gradio==5.49.0
gradio_client==1.13.3
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
openai==2.1.0
orjson==3.11.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
requests==2.32.5